.title-text-list {
  /* margin-right: 20px */
  text-transform: uppercase;
  font-size: 20px;
  font-weight: bold;
  color: darkgreen;
  margin-left: 5px;
  margin-top: 15px;
  text-shadow: 1px 1px 2px white, 0 0 25px darkgrey, 0 0 15px lightgrey;
  /* font-style: oblique; */
  /* font-family: "Times New Roman"; */
  /* margin-left: : -10px; */
  /* color: #173F03; */
}
