<!-- Footer -->
<footer>
  <div class="container">
    <div class="row" style="line-height: 1.4">
      <div class="col-lg-3 clickable" routerLink="/about">
        <h5 style="font-size:14.5px;"><i class="fa fa-info-circle" style="margin-right:5px;"aria-hidden="true"></i>About</h5>
        <p style="font-size:12.5px;letter-spacing:.05rem">Wecome! Hi, My name is Heesuk. I am the author and cook of Heesuk's Kitchen. Here I talk all about my love and passion for Korean food and you will learn how to cook and enjoy them.</p>
      </div>
      <div class="col-lg-3">
        <h5 style="font-size:14.5px;"><i class="fa fa-archive" style="margin-right:1px;"aria-hidden="true"></i> Archive</h5>
        <ul>
          <li>
            <a style="font-size:12.5px;" href="#" target="_blank">November 2017</a>
          </li>
          <li>
            <a style="font-size:12.5px;" href="#">December 2017</a>
          </li>
          <li>
            <a style="font-size:12.5px;" href="#">January 2018</a>
          </li>
        </ul>
      </div>
      <div class="col-lg-3">
        <h5 style="font-size:14.5px;"><a href="http://english.visitkorea.or.kr/enu/index.kto" style="color:#F8F6F5"><i class="fa fa-history" style="margin-right:5px;"aria-hidden="true"></i>Korea</a></h5>
        <ul>
          <li>
            <a style="font-size:12.5px;" href="http://english.visitkorea.or.kr/enu/AKR/AK_ENG_2_1_1.jsp" target="_blank">Culture</a>
          </li>
          <li>
            <a style="font-size:12.5px;"href="http://english.visitkorea.or.kr/enu/ATR/ATR_MAIN.jsp">Attractions</a>
          </li>
          <li>
            <a style="font-size:12.5px;" href="http://english.visitkorea.or.kr/enu/FOD/FOD_MAIN.jsp">Food by Regions</a>
          </li>
        </ul>
      </div>

      <div class="col-lg-3">
        <h5 style="font-size:14.5px;"><i class="fa fa-user-plus" style="margin-right:5px;"aria-hidden="true"></i>Newsletter</h5>
        <form>
          <div class="form-group">
            <input type="text" style="margin-bottom:10px;font-size:12.5px;"class="form-control" placeholder="Enter email for new recipes"
            aria-label="Search">
          </div>
          <button type="submit" style="letter-spacing:.05rem;margin-top:8px;font-size:12.5px;"class="btn btn-success">Subscribe</button>
        </form>
        <!-- Social Media -->
        <div class="inline-block">
          <ul class="media">
            <li class="media-item">
              <a href="#"><i class="fa fa-envelope" aria-hidden="true"></i></a>
            </li>
            <li class="media-item">
              <a href="#"><i class="fa fa-facebook-square" aria-hidden="true"></i></a>
            </li>
            <li class="media-item">
              <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
            </li>
            <li class="media-item">
              <a href="#"><i class="fa fa-pinterest" aria-hidden="true"></i></a>
            </li>
            <li class="media-item" style="margin-right:60px;">
              <a href="#"><i class="fa fa-google" aria-hidden="true"></i></a>
            </li>
          </ul>
        </div>

      </div>
    </div>
  </div>
</footer>

<!-- Copyright -->
<div class="copyright">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <!-- <p>Copyright <i class="fa fa-copyright" aria-hidden="true"></i> 2018 <strong style="font-family:'Herculanum';font-size:18px;color:#e13b2b;"> HEESUK'S KITCHEN</strong></p> -->
        <p style="margin-top: -7px;margin-bottom: 10px;"><strong style="font-family:'Herculanum';font-size:14px;font-style:bold;color:#e13b2b;"> HEESUK'S KITCHEN</strong></p>
      </div>
    </div>
  </div>
</div>
