<!-- Recipe title -->
<div *ngIf="!recipe" style="height: 1000px">
    Loading....
</div>
<div *ngIf="recipe">
  <div class="recipe-detail">
    <!-- <div class="container" -->
      <div class="row justify-content-center">
        <div class="col-lg-12 title-font">
          <h6 class="kortitle">{{recipe.koreanTitle}}
            <span *ngIf='recipe.koreanTitlePron' class="kortitle">{{'(' + recipe.koreanTitlePron + ') '}}</span>
          </h6>
          <h2 style="margin-bottom:10px;">{{recipe.title}}</h2>
          <a href="#" class="btn btn-default btn-text-size">
            <i class="fa fa-download" aria-hidden="true"></i>
          </a>
          <a href="#" class="btn btn-default btn-text-size">
            <i class="fa fa-print" aria-hidden="true"></i>
          </a>
          <a href="#" class="btn btn-default btn-text-size">
            <i class="fa fa-share-alt" aria-hidden="true"></i>
          </a>
          <a href="#" class="btn btn-default btn-text-size">
            <i class="fa fa-thumbs-up" aria-hidden="true"></i>
          </a>
          <a href="#" class="btn btn-default btn-text-size">
            <i class="fa fa-thumbs-down" aria-hidden="true"></i>
          </a>
        </div>
      </div>

  <!-- Image with time  -->
      <div class="col-md-8 offset-md-2">
        <img src="{{recipe.imagePath}}" alt>
        <div class="info">
          <div class="row">
            <div class="col-md-6">
              <p><i class="fa fa-clock-o" style="margin-bottom:5px;font-size:16px;margin-right:5px;"aria-hidden="true"></i>Total Time: <strong>{{recipe.totalTime}}</strong></p>
              <p><i class="fa fa-clock-o" style="margin-bottom:5px;font-size:16px;margin-right:5px;"aria-hidden="true"></i>Prep Time: <strong>{{recipe.prepTime}}</strong></p>
              <p><i class="fa fa-clock-o" style="font-size:16px;margin-right:5px;"aria-hidden="true"></i>Cook Time: <strong>{{recipe.cookTime}}</strong></p>
            </div>
            <div class="col-md-6">
              <p><i class="fa fa-users" style="margin-bottom:5px;font-size:16px;margin-right:5px;"aria-hidden="true"></i>Yield: <strong>{{recipe.yield}}</strong></p>
              <p><i class="fa fa-hand-pointer-o" style="margin-bottom:5px;font-size:16px;margin-right:5px;"aria-hidden="true"></i>Level: <strong>{{recipe.level}}</strong></p>
              <p><i class="fa fa-check-square-o" style="font-size:16px;margin-right:5px;"aria-hidden="true"></i>Calories Per Serving: <strong>{{recipe.caloriesPerServing}}</strong></p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-8 offset-lg-2">
        <p  style="margin-bottom:50px;">{{recipe.description}}</p>
        <div class="row">
          <div class="col-lg-6">
            <h4 style="margin-bottom:20px;font-size:17px">Ingredients</h4>
            <div>
              <ul class="ingredients">
                <li *ngFor="let ingredient of recipe.ingredients">
                  {{ingredient}}
                </li>
              </ul>
            </div>
          </div>
          <div class="col-lg-6">
            <h4 style="margin-bottom:20px;font-size:17px">Directions</h4>
            <div>
              <ul class="directions">
                <li *ngFor="let direction of recipe.directions">
                  {{direction}}
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- <ngb-rating [(rate)]="currentRate"></ngb-rating>
  <hr>
  <pre>Rate: <b>{{currentRate}}</b></pre>





<!--LOGIN form  -->
