<!-- about the author -->
<div class="container">
  <div class="row title-text-list">
    <h5><a class="navbar-brand" routerLink="/about" style="margin-top:25px;margin-bottom:-7px">About the Author</a>
    </h5>
  </div>

  <div class="row">
    <div class="col-lg-12">
      <!-- <h5><i class="fa fa-cutlery" aria-hidden="true"></i> List Recipes</h5> -->
      <div class="list recipes">
        <!-- <div class="in">
          <i class="fa fa-heart" style="margin-right:3px;"aria-hidden="true"></i>  {{recipe.title}}
        </div> -->
        <div class="row" style="margin-top: -25px;">
          <div class="col-sm-4">
            <img class="img-border" width="100%" height="225" src="/assets/images/my_photo.png" alt>
          </div>
          <div class="col-sm-8">
            <div class="para">
              <p>Hi! Welcome to Heesuk's Kitchen! My name is Heesuk Jang. I am the author and cook of Heesuk's Kitchen.
                I am also a mom of two beautiful girls ages 7 and 9. </p>
              <p>
                At the end of 2017, I started developing Heesuk's Kitchen to
                share some of my favorite Korean dishes that my family loves.
                 Both my girls grew up largely appreciating Korean family tradition and cultural heritage through food.
                My family loves to eat healthy while enjoying flavorful and appealing foods and cooking.
                Food in my family means more than just feeding nutritions. It means love and soul.
              </p>
              <p>
                Here I share how to cook and enjoy the Korean foods that we love.
              </p>
            </div>
          </div>
      </div>
     </div>
    </div>
  </div>

<!-- place I am from -->
  <div class="row subtitle">
    <h5 style="margin-top:0px;">My Hometown</h5>
  </div>
  <div class="row">
    <div class="col-lg-12">
      <div class="list recipes">
        <div class="row" style="margin-top: -25px;">
          <div class="col-sm-8">
            <div class="para">
              <p>I am from <strong style="font-style:italic">Chuncheon</strong>, which is the capital city of Gangwon Province, South Korea. It is located about 47 miles (74.8 km)
                east-north of Seoul. Chuncheon is one of the famous tourist cities especially as the city of lakefront, surrounded by three famous lakes and Sinyeoungang river.
                The popular riverside tourist destinations has many places to visit, including Nami Island, Jundo Island, Chungpyung Temple, Soyanggang River,
                Samaksan mountain, Gugok Waterfall, Jepdarigol Natural Forest and more.
              </p>
            </div>
          </div>
          <div class="col-sm-4">
            <a href="https://english.visitkorea.or.kr:1001/enu/SI/SI_EN_3_6.jsp?cid=256443"><img class="img-border" width="100%" height="200" src="/assets/images/chuncheon/chuncheon_city.png" alt></a>
          </div>
      </div>
     </div>
    </div>
  </div>

  <!--Top Tour Sights -->
  <div class="list">
    <div class="container">
      <div class="row">
        <div class="row subtitle">
          <a href="https://english.visitkorea.or.kr:1001/enu/SI/SI_EN_3_6.jsp?cid=256443"><h5 style="margin-top:-10px;margin-bottom:7px;">Top Tour Sights in Chuncheon</h5></a>
        </div>
        <div class="row" style="paddiing-top:0px;">
          <div class="col-lg-3">
            <div class="box grid recipes">
              <a href="http://english.visitkorea.or.kr/enu/ATR/SI_EN_3_1_1_1.jsp?cid=264164"><img class=" clickable" width="100%" height="200"style="margin-bottom:22px;background-color:#F7FCFC;padding:0px 0px;" src="/assets/images/chuncheon/chunpyung_temple.png" alt></a>
              <div>
                <h6 style="letter-spacing:.05rem;text-align:center;margin-bottom:10px;">Chungpyung Temple 청평사</h6>
                <p style="text-align:center;padding:0 12px 0 12px;padding-bottom:25px;font-size:14px;">The Cheongpyeongsa tourist area is located 19km away from downtown Chuncheon.</p>
              </div>
            </div>
          </div>
        <div class="col-lg-3">
          <div class="box grid recipes">
            <a href="http://english.visitkorea.or.kr/enu/ATR/SI_EN_3_1_1_1.jsp?cid=264244"><img class=" clickable" width="100%" height="200"style="margin-bottom:22px;background-color:#F7FCFC;padding:0px 0px;" src="/assets/images/chuncheon/island.png" alt></a>
            <div>
              <h6 style="letter-spacing:.05rem;text-align:center;margin-bottom:10px;">Nami Island 남이섬</h6>
              <p style="text-align:center;padding:0 18px 0 18px;padding-bottom:25px;font-size:14px;">Nami Island possesses beautiful nature and scenery all year round. It is a place of shareing love.</p>
            </div>
          </div>
        </div>
        <div class="col-lg-3">
          <div class="box grid recipes">
            <a href="http://english.visitkorea.or.kr/enu/ATR/SI_EN_3_1_1_1.jsp?cid=1634478"><img class=" clickable" width="100%" height="200"style="margin-bottom:22px;background-color:#F7FCFC;padding:0px 0px;" src="/assets/images/chuncheon/garden1.png" alt></a>
            <div>
              <h6 style="letter-spacing:.05rem;text-align:center;margin-bottom:10px;">Jade Garden 제이드정원</h6>
              <p style="text-align:center;padding:0 12px 0 12px;padding-bottom:25px;font-size:14px;">Jade Garden was opened in April 2011 with the motto of a small Europe in the forest.</p>
            </div>
          </div>
        </div>
        <div class="col-lg-3">
          <div class="box grid recipes">
            <a href="http://english.visitkorea.or.kr/enu/ATR/SI_EN_3_1_1_1.jsp?cid=897501"><img class=" clickable" width="100%" height="200"style="margin-bottom:22px;background-color:#F7FCFC;padding:0px 0px;" src="/assets/images/chuncheon/gugok_fall.png" alt></a>
            <div>
              <h6 style="letter-spacing:.05rem;text-align:center;margin-bottom:10px;">Gugok Fall 구곡폭포</h6>
              <p style="text-align:center;padding:0 12px 0 12px;padding-bottom:25px;font-size:14px;">This is a 50m tall waterfall located at the foot of Bonghwasan (봉화산) Mt. in Chuncheon.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

<!-- Food Delights in Chuncheon -->
  <div class="row subtitle">
    <h5  style="margin-top:30px;margin-bottom:7px;">Food Delights in Chuncheon</h5>
  </div>
  <div class="list">
    <div class="container">
      <!-- <div class="row"> -->

        <div class="row">
          <div class="col-lg-3 clickable" (click)="goToRecipeDetail('5a70f057f09d9f03930ba4f8')">
            <div class="box grid recipes">
              <img class=" clickable" width="100%" height="200"style="margin-bottom:22px;background-color:#F7FCFC;padding:0px 0px;" src="/assets/images/chuncheon/dakgalbi.png" alt>
              <div>
                <h6 style="letter-spacing:.05rem;text-align:center;margin-bottom:10px;">Dakgalbi 닭갈비</h6>
                <p style="text-align:center;padding:0 12px 0 12px;padding-bottom:25px;font-size:14px;">Dakgalbi (spicy stir-friend chicken) is the most famous food of Chuncheon.</p>
              </div>
            </div>
          </div>
        <div class="col-lg-3 clickable" (click)="goToRecipeDetail('5a70f868f09d9f03930ba4f9')">
          <div class="box grid recipes">
            <img class=" clickable" width="100%" height="200"style="margin-bottom:22px;background-color:#F7FCFC;padding:0px 0px;" src="/assets/images/chuncheon/makkuksu.png" alt>
            <div>
              <h6 style="letter-spacing:.05rem;text-align:center;margin-bottom:10px;">Makkusu 막국수</h6>
              <p style="text-align:center;padding:0 18px 0 18px;padding-bottom:25px;font-size:14px;">Buckwheat is used to make the noodles and it is combined with kimchi, added with vegetables.</p>
            </div>
          </div>
        </div>
        <div class="col-lg-3 clickable" (click)="goToRecipeDetail('5a70fdaef09d9f03930ba4fa')">
          <div class="box grid recipes">
            <img class=" clickable" width="100%" height="200"style="margin-bottom:22px;background-color:#F7FCFC;padding:0px 0px;" src="/assets/images/chuncheon/maemiljeonbyng.png" alt>
            <div>
              <h6 style="letter-spacing:.05rem;text-align:center;margin-bottom:10px;">Memiljeonbyung 메밀전병</h6>
              <p style="text-align:center;padding:0 12px 0 12px;padding-bottom:25px;font-size:14px;">Memil-jeonbyung or buckwheat pancake is a variety of buchimgae, or Korean pancake.</p>
            </div>
          </div>
        </div>
        <div class="col-lg-3 clickable" (click)="goToRecipeDetail('5a71030df09d9f03930ba4fb')">
          <div class="box grid recipes">
            <img class=" clickable" width="100%" height="200"style="margin-bottom:22px;background-color:#F7FCFC;padding:0px 0px;" src="/assets/images/chuncheon/gamjatang.png" alt>
            <div>
              <h6 style="letter-spacing:.05rem;text-align:center;margin-bottom:10px;">Gamjatang 감자탕</h6>
              <p style="text-align:center;padding:0 12px 0 12px;padding-bottom:25px;font-size:14px;">Gamja-tang or pork back-bone stew is a spicy soup made from the spine or neck bones of a pig.</p>
            </div>
          </div>
        </div>
      </div>
    <!-- </div> -->
  </div>
