.text-style {
  text-align: center;
  letter-spacing: 1.5px;

}

.img {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.box.grid.recipes {
    margin-bottom: 90px;
    /* padding-bottom: 32px; */
    text-align: center;
    border: 1px solid #dedede;
}

.box.grid.recipes, .top .box {
    background-color: #fff;
    box-shadow: 0 6px 15px rgba(36,37,38,.08);
}

.box.grid.recipes .in {
    padding: 10px 15px;
    text-align: left;
    letter-spacing: .08rem;
    color: #fff;
    background-color: #e13b2b;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.box.grid.recipes img {
    width: 100%;
    margin-bottom: 8px;
}

img {
    vertical-align: middle;
    border-style: none;
}

/* a {
    color: grey;
    text-decoration: none;
    background-color: transparent;
  } */

.justify-content-center {
    /* -ms-flex-pack: center; */
    justify-content: center!important;
    /* text-align: center; */

}
.box.grid.recipes .tag a {
    display: inline-block;
    padding: 3px 15px;
    margin-bottom:-10px;
    color: #B0AEAD;
    border: 1px solid #dedede;
    border-radius: 40px;
}


.featured {
    margin-top: 70px;
    margin-bottom: 50px;
    text-align: center;
}
.top {
    margin-top: -20px;
    padding: 40px 0px;
    background-color: #f7f7f7;
}
*, ::after, ::before {
    box-sizing: inherit;
}
.top h5 {
    font-size: 18px;
    margin-bottom: 15px;
    color: #B0AEAD;
    letter-spacing: .05rem;
}
.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    margin-bottom: .5rem;
    font-family: inherit;
    font-weight: 500;
    line-height: 1.1;
    color: inherit;
}
h1, h2, h3, h4, h5, h6 {
    margin-top: 0;
    margin-bottom: .5rem;
}
h5 {
    display: block;
    -webkit-margin-before: 1.67em;
    -webkit-margin-after: 1.67em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
}
.top .box img {
    float: left;
    width: 100px;
    height: 100px;
    border-radius: 8px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.top .box h5 {
    letter-spacing: .05rem;
    color: #212529;
    padding-left: 120px;
}
.top .box p {
    line-height: 22px;
    margin-bottom: 0;
    padding-left: 120px;
}

p {
    color: #666;
    margin-top: 0px;
    margin-bottom: 1rem;
}
.clearfix::after {
    display: block;
    clear: both;
    content: "";
}
.top .box {
    padding: 25px;
}

.box.grid.recipes, .top .box {
    background-color: #fff;
    box-shadow: 0 9px 15px rgba(36,37,38,.08);
}
.title-text-list {
  color: grey;
  text-transform: uppercase;
  margin-top: 40px;
  /* border-bottom: 1px dashed #dedede; */
  /* border-bottom-width: 1px;
  border-bottom-style: dashed;
  border-bottom-color: rgb(222, 222, 222); */
  font-size: 20px;
  font-weight: bold;
  text-align: left;
  text-shadow: 1px 1px 2px white, 0 0 25px darkgrey, 0 0 15px lightgrey;
}
.list {
  margin-top: -13px;
  margin-bottom: -100px;
}

.list img {
  /* height: 200px; */
  padding: 10px 10px;
  text-align: left;
  box-shadow: 0 3px 8px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  /* box-shadow: 0 10px 15px rgba(36,37,38,.08); */
}
.list .tag a {
    display: inline-block;
    text-align: center;
    padding: 3px 15px;
    color: #B0AEAD;
    border: 1px solid #dedede;
    border-radius: 40px;
}

footer {
  margin-top: 150px;
  padding: 50px 0;
  background-color: #323231;
}
footer h5{
  letter-spacing: .1rem;
  margin-top: 0px;
  margin-bottom: 20px;
  padding-bottom: 10px;
  color: #F8F6F5 ;
  border-bottom: 1px dashed #484848;
}
footer p, footer ul li a, footer ul li a:hover {
  color:#ACABAB ;
}
footer ul li {
    list-style: none;
}

footer ul {
  padding-left: 0;
}

li {
    display: list-item;
    text-align: -webkit-match-parent;
}
