<!--Recipe of the Day -->
<div clss="featured">
  <div class="container">
    <div class="row clickable justify-center-center" (click)="goToRecipeDetail('5a46934199269aadec1d11f2')">
      <div class="col-lg-12"style="margin-top: 65px;margin-bottom: 30px;" >
        <!-- <h5 style="text-align:center;color:grey;"><i class="fa fa-camera-retro"></i> Recipe of the Day</h5> -->
        <h3 class="text-style">Recipe of the Day</h3>
      </div>
      <div class="row">
        <div class="col-md-8 offset-md-2">
          <div class="box grid recipes" style="padding-bottom:32px;">
            <div class="in" >
              <i class="fa fa-heart" style="margin-right:3px;"aria-hidden="true"></i>  Korean Beef Short Ribs BBQ
            </div>
            <img class="img" src="assets/images/hk-images/galbi.png" alt>
            <div class="text-style"><h5 style="font-size:16px;margin-top:25px;margin-bottom:18px;">Galbi<span style="margin-left:10px;">갈비</span></h5></div>
            <!-- <div style="margin-left:15px;margin-top:10px;"><strong>{{recipe.koreanTitle}}</strong><span style="margin-left:10px;">{{recipe.koreanTitlePron}}</span></div> -->
            <div style="padding: 0px 70px 5px 70px;">
              <p style="font-size:13.5px;text-align:center;color:#737272;">Korean barbecue — tabletop marinated grilled meats with loads of complimentary banchans, or side dishes — is a one-of-a-kind, sizzling experience perfect for rowdy groups and dates alike.</p>
              <!-- ref="#">{{"Calories per serving: " + recipe.caloriesPerServing}}</a> -->
            </div>
            <div class="tag">
              <a>BBQ</a>
              <a>Intermediate</a>
              <a>Calories per serving: 479</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- TOP menus -->
<div class="top">
  <div class="container">
    <div class="row">
      <div class="col-lg-4">
        <h5 style="text-align:left;margin-top:5px;font-size:15px">
          <i class="fa fa fa-star" style="margin-right: 6px;"aria-hidden="true"></i> Top Breakfast Recipe
        </h5>
        <div class="box clearfix clickable" (click)="goToRecipeDetail('5a693d40c2e33ffa6b6a7e2d')">
          <img src="/assets/images/hk-images/beansprout.png" alt>
          <p style="font-size: 14px;font-weight:450;color:#222222;margin-bottom:5px;">Bean Sprout Soup</p>
          <p style="font-size: 13px;">콩나물국</p>
          <p style="font-size: 13px;">Kong-na-mul-guk</p>
        </div>
      </div>
      <div class="col-lg-4">
        <h5 style="text-align:left;margin-top:5px;font-size:15px">
          <i class="fa fa fa-star" style="margin-right: 6px;"aria-hidden="true"></i> Top Lunch Recipe
        </h5>
        <div class="box clearfix clickable" (click)="goToRecipeDetail('5a6962a7c2e33ffa6b6a7e2e')">
          <img src="/assets/images/hk-images/bibimbap.png" alt>
          <p style="font-size: 14px;font-weight:450;color:#222222;margin-bottom:5px;">Bibimbap</p>
          <p style="font-size: 13px;">비빔밥</p>
          <p style="font-size: 13px;">Bi-bim-bap</p>
        </div>
      </div>
      <div class="col-lg-4">
        <h5 style="text-align:left;margin-top:5px;font-size:15px">
          <i class="fa fa fa-star" style="margin-right: 6px;"aria-hidden="true"></i> Top Dinner Recipe
        </h5>
        <div class="box clearfix clickable" (click)="goToRecipeDetail('5a696af4c2e33ffa6b6a7e2f')">
          <img src="/assets/images/hk-images/jaeyuk2.png" alt>
          <p style="font-size: 14px;font-weight:450;color:#222222;margin-bottom:5px;">Stir-Fried Spicy Pork</p>
          <p style="font-size: 13px;">제육볶음</p>
          <p style="font-size: 13px;">Jae-yuk-bok-keum</p>
        </div>
      </div>
    </div>
  </div>
</div>

<!--Popular Recipes -->
<div class="list">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 title-text-list">
        <h5 style="font-size: 15px;"><i class="fa fa-cutlery" style="color:grey;margin-right:7px;" aria-hidden="true"></i> Popular Recipes</h5>
      </div>
      <div class="col-lg-4 clickable" (click)="goToRecipeDetail('5a697105c2e33ffa6b6a7e30')">
        <div class="box grid recipes">
          <div class="in">
            <i class="fa fa-heart" style="margin-right:3px;"aria-hidden="true"></i>  Japchae 잡채
          </div>
          <img width="100%" height="210"style="margin-bottom:0;background-color:#F7FCFC;padding:0px 0px;" src="/assets/images/hk-images/japchae.png" alt>
          <div style="padding:20px 20px 7px 20px;font-size: 13px;">
            <p>Japchae is a sweet and savory dish of stir-fried glass noodles and vegetables that is popular in Korean cuisine.</p>
          </div>
          <div class="tag" style="padding-bottom:20px;">
            <a style="margin-right:5px">Noodle</a>
            <a>Intermediate</a>
          </div>
        </div>
      </div>
      <div class="col-lg-4 clickable" (click)="goToRecipeDetail('5a6a129bc2e33ffa6b6a7e32')">
        <div class="box grid recipes">
          <div class="in">
            <i class="fa fa-heart" style="margin-right:3px;"aria-hidden="true"></i>  Haemul Pajeon 해물파전
          </div>
          <img width="100%" height="210"style="margin-bottom:0;background-color:#F7FCFC;padding:0px 0px;" src="/assets/images/hk-images/haemul_pajeon.png" alt>
          <div style="padding:20px 20px 7px 20px;font-size: 13px;">
            <p>Haemul pajeon is a variety of pan-fried jeon with scallion as its prominent ingredient, as pa means scallion.</p>
          </div>
          <div class="tag" style="padding-bottom:20px;">
            <a style="margin-right:5px">Pancake</a>
            <a>Intermediate</a>
          </div>
        </div>
      </div>
      <div class="col-lg-4 clickable" (click)="goToRecipeDetail('5a6a2c00c2e33ffa6b6a7e33')">
        <div class="box grid recipes">
          <div class="in">
            <i class="fa fa-heart" style="margin-right:3px;"aria-hidden="true"></i>  Bulgogi 불고기
          </div>
          <img width="100%" height="210"style="margin-bottom:0;background-color:#F7FCFC;padding:0px 0px;" src="/assets/images/hk-images/bulgogi.png" alt>
          <div style="padding:20px 20px 7px 20px;font-size: 13px;">
            <p>Bulgogi from Korean bul-gogi, is a gui made of thin, marinated slices of beef or pork grilled on a barbecue or on a stove.</p>
          </div>
          <div class="tag" style="padding-bottom:20px;">
            <a style="margin-right:5px;">BBQ</a>
            <a>Intermediate</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Korean Cuisine -->
<div class="list">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 title-text-list">
        <h5 style="font-size: 15px;"><i class="fa fa-info-circle" style="color:grey;margin-right:7px;" aria-hidden="true"></i> Korean Cuisine</h5>
      </div>
      <div class="col-lg-4 clickable" routerLink="/ingredients">
        <div class="box grid recipes">
          <div class="in">
            <i class="fa fa-cogs" style="margin-right:3px;"aria-hidden="true"></i>  Ingredients
          </div>
          <img width="100%" height="210"style="margin-bottom:0;background-color:#F7FCFC;padding:0px 0px;" src="/assets/images/hk-images/ingredients2.jpg" alt>
          <div style="padding:20px;">
            <p style="font-size: 13px;"><strong>Over 20 essential Korean cooking ingredients: </strong>Rice & Noodles, Vegetables, Fish & Seafood, Shellfish, Meat, Condiments, Spices, etc </p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 clickable" routerLink="/side-dishes">
        <div class="box grid recipes">
          <div class="in">
            <i class="fa fa-heart" style="margin-right:3px;"aria-hidden="true"></i>  Side Dishes
          </div>
          <img width="100%" height="210"style="margin-bottom:0;background-color:#F7FCFC;padding:0px 0px;" src="/assets/images/hk-images/Banchans1.jpg" alt>
          <div style="padding:20px;">
            <p style="font-size: 13px;"><strong>Banchan from Korean: 반찬;</strong> refers to small side dishes of food served along with cooked rice and main dish in Korean cuisine.</p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 clickable" routerLink="/prep-methods">
        <div class="box grid recipes">
          <div class="in">
            <i class="fa fa-history" style="margin-right:3px;"aria-hidden="true"></i>  Preparation & Cooking Methods
          </div>
          <img width="100%" height="210"style="margin-bottom:0;background-color:#F7FCFC;padding:0px 0px;" src="/assets/images/hk-images/method.png" alt>
          <div style="padding:20px;">
            <p style="font-size: 13px;"><strong>Over 5 essential Korean cooking methods: </strong>Pickled, Stewed, Steamed or Braised, Grilled, Pan-fried, Stir-fried, Boiled, etc </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
