<!-- about the author -->
<div class="container">
  <div class="row title-text-list">
    <h5><a class="navbar-brand" style="margin-top:25px;margin-bottom:-7px">Banchan 반찬</a>
    </h5>
  </div>

  <div class="row">
    <div class="col-lg-12">
      <div class="list recipes">
        <div class="row" style="margin-top: -25px;">
          <div class="col-sm-4">
            <img class="img-border" width="100%" height="220" src="/assets/images/banchan/banchan.png" alt>
          </div>
          <div class="col-sm-8">
            <div class="para">
              <p>Banchan refers to small dishes of food served along with cooked rice in Korean cuisine. This word is used both in the singular and plural. </p>
              <p>
                The basic table setting for a meal called bansang (반상) usually consists of bap (밥, cooked rice), guk (국) or tang (탕) (soup),
                gochujang (고추장 red chili paste) or ganjang (간장 soy sauce), jjigae (찌개 stew), and kimchi (김치).
                According to the number of banchan added, the table setting is called 3 cheop (삼첩), 5 cheop (오첩), 7 cheop (칠첩), 9 cheop (구첩), 12 cheop (십이첩) bansang,
                with the 12 cheop used in Korean royal cuisine.
              </p>

            </div>
          </div>
      </div>
     </div>
    </div>
  </div>

<!-- Food Delights in Chuncheon -->
  <div class="list">
    <div class="container">
        <div class="row">
          <div class="col-lg-3 clickable" (click)="goToRecipeDetail('5a74aa6b1a49d24d5d879ce9')">
            <div class="box grid recipes">
              <img class=" clickable" width="100%" height="180"style="margin-bottom:22px;background-color:#F7FCFC;padding:0px 0px;" src="/assets/images/banchan/kimchi.png" alt>
              <div>
                <h6 style="letter-spacing:.05rem;text-align:center;margin-bottom:10px;">Baechukimchi 배추김치</h6>
                <p style="text-align:center;padding:0 12px 0 12px;padding-bottom:25px;font-size:14px;">Baechu-kimchi, translated as cabbage kimchi or simply kimchi is a quintessential side dish.</p>
              </div>
            </div>
          </div>
        <div class="col-lg-3 clickable" (click)="goToRecipeDetail('5a74aced1a49d24d5d879cea')">
          <div class="box grid recipes">
            <img class=" clickable" width="100%" height="180"style="margin-bottom:22px;background-color:#F7FCFC;padding:0px 0px;" src="/assets/images/banchan/youngradish.png" alt>
            <div>
              <h6 style="letter-spacing:.05rem;text-align:center;margin-bottom:10px;">Chonggakkimchi 총각김치</h6>
              <p style="text-align:center;padding:0 18px 0 18px;padding-bottom:25px;font-size:14px;">Chonggakmu or Chonggak radish is a variety of white radish.</p>
            </div>
          </div>
        </div>
        <div class="col-lg-3 clickable" (click)="goToRecipeDetail('5a70fdaef09d9f03930ba4fa')">
          <div class="box grid recipes">
            <img class=" clickable" width="100%" height="180"style="margin-bottom:22px;background-color:#F7FCFC;padding:0px 0px;" src="/assets/images/banchan/cucumber.png" alt>
            <div>
              <h6 style="letter-spacing:.05rem;text-align:center;margin-bottom:10px;">Ohyeemuchim 오이무침</h6>
              <p style="text-align:center;padding:0 12px 0 12px;padding-bottom:25px;font-size:14px;">Spicy seasoned Cucumber side dish is most likely called ohyee-muchim.</p>
            </div>
          </div>
        </div>
        <div class="col-lg-3 clickable" (click)="goToRecipeDetail('5a71030df09d9f03930ba4fb')">
          <div class="box grid recipes">
            <img class=" clickable" width="100%" height="180"style="margin-bottom:22px;background-color:#F7FCFC;padding:0px 0px;" src="/assets/images/banchan/fishcake.png" alt>
            <div>
              <h6 style="letter-spacing:.05rem;text-align:center;margin-bottom:10px;">Ohdengbokkum 오뎅볶음</h6>
              <p style="text-align:center;padding:0 12px 0 12px;padding-bottom:25px;font-size:14px;">A fishcake is a food item similar to a croquette, consisting of filleted fish or other seafood.</p>
            </div>
          </div>
        </div>
      </div>

      <!-- row 2 -->
      <div class="row"style="padding-top:30px">
        <div class="col-lg-3 clickable" (click)="goToRecipeDetail('5a70f057f09d9f03930ba4f8')">
          <div class="box grid recipes">
            <img class=" clickable" width="100%" height="180"style="margin-bottom:22px;background-color:#F7FCFC;padding:0px 0px;" src="/assets/images/banchan/zucchini.png" alt>
            <div>
              <h6 style="letter-spacing:.05rem;text-align:center;margin-bottom:10px;">Hobakbokkum 호박볶음</h6>
              <p style="text-align:center;padding:0 12px 0 12px;padding-bottom:25px;font-size:14px;">Dakgalbi (spicy stir-friend chicken) is the most famous food of Chuncheon.</p>
            </div>
          </div>
        </div>
      <div class="col-lg-3 clickable" (click)="goToRecipeDetail('5a70f868f09d9f03930ba4f9')">
        <div class="box grid recipes">
          <img class=" clickable" width="100%" height="180"style="margin-bottom:22px;background-color:#F7FCFC;padding:0px 0px;" src="/assets/images/banchan/alpotato.png" alt>
          <div>
            <h6 style="letter-spacing:.05rem;text-align:center;margin-bottom:10px;">Algamjajorim 알감자조림</h6>
            <p style="text-align:center;padding:0 18px 0 18px;padding-bottom:25px;font-size:14px;">Buckwheat is used to make the noodles and it is combined with kimchi, added with vegetables.</p>
          </div>
        </div>
      </div>
      <div class="col-lg-3 clickable" (click)="goToRecipeDetail('5a70fdaef09d9f03930ba4fa')">
        <div class="box grid recipes">
          <img class=" clickable" width="100%" height="180"style="margin-bottom:22px;background-color:#F7FCFC;padding:0px 0px;" src="/assets/images/banchan/stir-fried-anchovies-with-nuts.png" alt>
          <div>
            <h6 style="letter-spacing:.05rem;text-align:center;margin-bottom:10px;">Moulchibokkum 멸치볶음</h6>
            <p style="text-align:center;padding:0 12px 0 12px;padding-bottom:25px;font-size:14px;">Memil-jeonbyung or buckwheat pancake is a variety of buchimgae, or Korean pancake.</p>
          </div>
        </div>
      </div>
      <div class="col-lg-3 clickable" (click)="goToRecipeDetail('5a71030df09d9f03930ba4fb')">
        <div class="box grid recipes">
          <img class=" clickable" width="100%" height="180"style="margin-bottom:22px;background-color:#F7FCFC;padding:0px 0px;" src="/assets/images/banchan/sesame.png" alt>
          <div>
            <h6 style="letter-spacing:.05rem;text-align:center;margin-bottom:10px;">Ggaetyip 깻잎장아찌</h6>
            <p style="text-align:center;padding:0 12px 0 12px;padding-bottom:25px;font-size:14px;">Gamja-tang or pork back-bone stew is a spicy soup made from the spine or neck bones of a pig.</p>
          </div>
        </div>
      </div>
    </div>

    <!-- row 3 -->
    <div class="row"style="padding-top:30px">
      <div class="col-lg-3 clickable" (click)="goToRecipeDetail('5a70f057f09d9f03930ba4f8')">
        <div class="box grid recipes">
          <img class=" clickable" width="100%" height="180"style="margin-bottom:22px;background-color:#F7FCFC;padding:0px 0px;" src="/assets/images/banchan/eggplant.png" alt>
          <div>
            <h6 style="letter-spacing:.05rem;text-align:center;margin-bottom:10px;">Gajijorim 가지조림</h6>
            <p style="text-align:center;padding:0 12px 0 12px;padding-bottom:25px;font-size:14px;">Dakgalbi (spicy stir-friend chicken) is the most famous food of Chuncheon.</p>
          </div>
        </div>
      </div>
    <div class="col-lg-3 clickable" (click)="goToRecipeDetail('5a70f868f09d9f03930ba4f9')">
      <div class="box grid recipes">
        <img class=" clickable" width="100%" height="180"style="margin-bottom:22px;background-color:#F7FCFC;padding:0px 0px;" src="/assets/images/banchan/jangahji.png" alt>
        <div>
          <h6 style="letter-spacing:.05rem;text-align:center;margin-bottom:10px;">Sogogijorim 소고기장조림</h6>
          <p style="text-align:center;padding:0 18px 0 18px;padding-bottom:25px;font-size:14px;">Buckwheat is used to make the noodles and it is combined with kimchi, added with vegetables.</p>
        </div>
      </div>
    </div>
    <div class="col-lg-3 clickable" (click)="goToRecipeDetail('5a70fdaef09d9f03930ba4fa')">
      <div class="box grid recipes">
        <img class=" clickable" width="100%" height="180"style="margin-bottom:22px;background-color:#F7FCFC;padding:0px 0px;" src="/assets/images/banchan/seaweed.png" alt>
        <div>
          <h6 style="letter-spacing:.05rem;text-align:center;margin-bottom:10px;">Guueunkim 구운김</h6>
          <p style="text-align:center;padding:0 12px 0 12px;padding-bottom:25px;font-size:14px;">Memil-jeonbyung or buckwheat pancake is a variety of buchimgae, or Korean pancake.</p>
        </div>
      </div>
    </div>
    <div class="col-lg-3 clickable" (click)="goToRecipeDetail('5a74add71a49d24d5d879ceb')">
      <div class="box grid recipes">
        <img class=" clickable" width="100%" height="180"style="margin-bottom:22px;background-color:#F7FCFC;padding:0px 0px;" src="/assets/images/banchan/kakdugi.png" alt>
        <div>
          <h6 style="letter-spacing:.05rem;text-align:center;margin-bottom:10px;">Gakdugi 깍두기</h6>
          <p style="text-align:center;padding:0 12px 0 12px;padding-bottom:25px;font-size:14px;">Gamja-tang or pork back-bone stew is a spicy soup made from the spine or neck bones of a pig.</p>
        </div>
      </div>
    </div>
  </div>

  <!-- row 4-->
  <div class="row"style="padding-top:30px">
    <div class="col-lg-3 clickable" (click)="goToRecipeDetail('5a70f057f09d9f03930ba4f8')">
      <div class="box grid recipes">
        <img class=" clickable" width="100%" height="180"style="margin-bottom:22px;background-color:#F7FCFC;padding:0px 0px;" src="/assets/images/banchan/potato.png" alt>
        <div>
          <h6 style="letter-spacing:.05rem;text-align:center;margin-bottom:10px;">Gamjachae 감자채볶음</h6>
          <p style="text-align:center;padding:0 12px 0 12px;padding-bottom:25px;font-size:14px;">Dakgalbi (spicy stir-friend chicken) is the most famous food of Chuncheon.</p>
        </div>
      </div>
    </div>
  <div class="col-lg-3 clickable" (click)="goToRecipeDetail('5a70f868f09d9f03930ba4f9')">
    <div class="box grid recipes">
      <img class=" clickable" width="100%" height="180"style="margin-bottom:22px;background-color:#F7FCFC;padding:0px 0px;" src="/assets/images/banchan/squid.png" alt>
      <div>
        <h6 style="letter-spacing:.05rem;text-align:center;margin-bottom:10px;">Ohjinguhchae 오징어채볶음</h6>
        <p style="text-align:center;padding:0 18px 0 18px;padding-bottom:25px;font-size:14px;">Buckwheat is used to make the noodles and it is combined with kimchi, added with vegetables.</p>
      </div>
    </div>
  </div>
  <div class="col-lg-3 clickable" (click)="goToRecipeDetail('5a70fdaef09d9f03930ba4fa')">
    <div class="box grid recipes">
      <img class=" clickable" width="100%" height="180"style="margin-bottom:22px;background-color:#F7FCFC;padding:0px 0px;" src="/assets/images/banchan/tofu.png" alt>
      <div>
        <h6 style="letter-spacing:.05rem;text-align:center;margin-bottom:10px;">Tofujorim 두부조림</h6>
        <p style="text-align:center;padding:0 12px 0 12px;padding-bottom:25px;font-size:14px;">Memil-jeonbyung or buckwheat pancake is a variety of buchimgae, or Korean pancake.</p>
      </div>
    </div>
  </div>
  <div class="col-lg-3 clickable" (click)="goToRecipeDetail('5a71030df09d9f03930ba4fb')">
    <div class="box grid recipes">
      <img class=" clickable" width="100%" height="180"style="margin-bottom:22px;background-color:#F7FCFC;padding:0px 0px;" src="/assets/images/banchan/yungun.png" alt>
      <div>
        <h6 style="letter-spacing:.05rem;text-align:center;margin-bottom:10px;">Yungun 연근조림</h6>
        <p style="text-align:center;padding:0 12px 0 12px;padding-bottom:25px;font-size:14px;">Gamja-tang or pork back-bone stew is a spicy soup made from the spine or neck bones of a pig.</p>
      </div>
    </div>
  </div>
</div>

<!-- row 5-->
<div class="row"style="padding-top:30px">
  <div class="col-lg-3 clickable" (click)="goToRecipeDetail('5a70f057f09d9f03930ba4f8')">
    <div class="box grid recipes">
      <img class=" clickable" width="100%" height="180"style="margin-bottom:22px;background-color:#F7FCFC;padding:0px 0px;" src="/assets/images/banchan/seaweedstem.png" alt>
      <div>
        <h6 style="letter-spacing:.05rem;text-align:center;margin-bottom:10px;">Miyoukjulgi 미역줄기볶음</h6>
        <p style="text-align:center;padding:0 12px 0 12px;padding-bottom:25px;font-size:14px;">Dakgalbi (spicy stir-friend chicken) is the most famous food of Chuncheon.</p>
      </div>
    </div>
  </div>
<div class="col-lg-3 clickable" (click)="goToRecipeDetail('5a70f868f09d9f03930ba4f9')">
  <div class="box grid recipes">
    <img class=" clickable" width="100%" height="180"style="margin-bottom:22px;background-color:#F7FCFC;padding:0px 0px;" src="/assets/images/banchan/pepper.png" alt>
    <div>
      <h6 style="letter-spacing:.05rem;text-align:center;margin-bottom:10px;">Gochujeon 고추전</h6>
      <p style="text-align:center;padding:0 18px 0 18px;padding-bottom:25px;font-size:14px;">Buckwheat is used to make the noodles and it is combined with kimchi, added with vegetables.</p>
    </div>
  </div>
</div>
<div class="col-lg-3 clickable" (click)="goToRecipeDetail('5a70fdaef09d9f03930ba4fa')">
  <div class="box grid recipes">
    <img class=" clickable" width="100%" height="180"style="margin-bottom:22px;background-color:#F7FCFC;padding:0px 0px;" src="/assets/images/banchan/clam.png" alt>
    <div>
      <h6 style="letter-spacing:.05rem;text-align:center;margin-bottom:10px;">Jogaemuchim 조개무침</h6>
      <p style="text-align:center;padding:0 12px 0 12px;padding-bottom:25px;font-size:14px;">Memil-jeonbyung or buckwheat pancake is a variety of buchimgae, or Korean pancake.</p>
    </div>
  </div>
</div>
<div class="col-lg-3 clickable" (click)="goToRecipeDetail('5a71030df09d9f03930ba4fb')">
  <div class="box grid recipes">
    <img class=" clickable" width="100%" height="180"style="margin-bottom:22px;background-color:#F7FCFC;padding:0px 0px;" src="/assets/images/banchan/radishbok.png" alt>
    <div>
      <h6 style="letter-spacing:.05rem;text-align:center;margin-bottom:10px;">Muchaebokkum 무채볶음</h6>
      <p style="text-align:center;padding:0 12px 0 12px;padding-bottom:25px;font-size:14px;">Gamja-tang or pork back-bone stew is a spicy soup made from the spine or neck bones of a pig.</p>
    </div>
  </div>
</div>
</div>
</div>

<!-- load more -->
<div class="col-lg-12 text-center" style="padding:45px">
  <a href="#" class="btn btn-load">Load More</a>
</div>
