
<div class="container" style="height: 71px">
    <nav class="navbar fixed-top navbar-expand-lg header-backgroud">
      <!-- <div class="row">
        <div class="container">
          <div class="float-right">
            <a class="btn btn-default log-in-button" href="#logIn" role="button">LOG IN</a>
            <a class="btn btn-default" style="font-size: 14px;"href="#signUp" role="button">SIGN UP</a>
          </div>
        </div>
      </div> -->

      <div class="container-fluid">
        <img width="30px" class="img-margin" src="/assets/images/hk-images/logo-1.png">
        <a class="navbar-brand" href="#"></a>
        <a class="navbar-brand page-title-text" style="color:#e13b2b;"href="#"><strong>Heesuk's Kitchen</strong></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse justify-center-center" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto" >
            <li class="nav-item active" >
              <a class="nav-link" style="color:#747574;" href="#">Home <span class="sr-only">(current)</span></a>
            </li>


          <!-- Dropdown menu -->
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="recipe-list-page" style="color:#747574;margin-right:4px;" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Recipes</a>
                <div class="dropdown-menu">
                  <a class="dropdown-item" href="recipe-list-page">All Recipes</a>
                  <a class="dropdown-item" href="recipe-list-page">Categories</a>
                    <div class="dropdown-menu">
                      <button class="dropdown-item">Rice 밥</button>
                      <button class="dropdown-item">Noodle 국수</button>
                      <button class="dropdown-item">Soup 국</button>
                      <button class="dropdown-item">Stew 찌개</button>
                      <button class="dropdown-item">BBQ 바베큐</button>
                      <button class="dropdown-item">Steamed 찜</button>
                      <button class="dropdown-item">Kimchee 김치</button>
                      <button class="dropdown-item">Pancake 전</button>
                      <button class="dropdown-item">Stir-fry 볶음요리</button>
                      <button class="dropdown-item">Fried 튀김요리</button>
                      <button class="dropdown-item">Dumplings 만두</button>
                      <button class="dropdown-item">Side Dish 반찬</button>
                      <button class="dropdown-item">Dessert 후식</button>
                      <button class="dropdown-item">Snack 간식</button>
                    </div>
                </div>

            </li>
            <li class="nav-item">
              <a class="nav-link" style="color:#747574;" href="/prep-methods">Methods</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" style="color:#747574;" href="/ingredients">Ingredients</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" style="color:#747574;" href="/about">About</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" style="color:#747574;" href="/contact">Contact</a>
            </li>
          </ul>
<!-- later -->
            <!-- <li class="nav-item">
              <div class="d-inline-block" ngbDropdown #myDrop="ngbDropdown">
                <a class="btn btn-default button-style" style="color:#747574;" id="dropdownManual" ngbDropdownToggle>Recipes</a>
                  <div ngbDropdownMenu aria-labelledby="dropdownManual">
                    <button class="dropdown-item">Rice 밥</button>
                    <button class="dropdown-item">Noodle 국수</button>
                    <button class="dropdown-item">Soup 국</button>
                    <button class="dropdown-item">Stew 찌개</button>
                    <button class="dropdown-item">BBQ 바베큐</button>
                    <button class="dropdown-item">Steamed 찜</button>
                    <button class="dropdown-item">Kimchee 김치</button>
                    <button class="dropdown-item">Pancake 전</button>
                    <button class="dropdown-item">Stir-fry 볶음요리</button>
                    <button class="dropdown-item">Fried 튀김요리</button>
                    <button class="dropdown-item">Dumplings 만두</button>
                    <button class="dropdown-item">Side Dish 반찬</button>
                    <button class="dropdown-item">Dessert 후식</button>
                    <button class="dropdown-item">Snack 간식</button>
                  </div>
              </div>
            </li> -->


          <!-- Search bar -->
          <div class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2"
                   type="search" size="40"
                   style="letter-spacing:.06rem"
                   #searchInput
                   placeholder="Search Recipes"
                   aria-label="Search">
            <button class="btn btn-success my-2 my-sm-0"
                    style="font-size: 12pt;color:white;"
                    (click)="onSearchClick(searchInput.value)"
                    role="button">
              <i class="fa fa-search icon-margin" aria-hidden="true"></i>Search</button>
          </div>
        </div>
      </div>
    </nav>
</div>
