<!-- pickling -->
<div class="container">
  <div class="row title-text-list">
    <h5><a class="navbar-brand" style="margin-left: -25px;margin-top:25px;margin-bottom:15px">Cooking Methods</a>
    </h5>
  </div>
  <div class="row subt" style="margin-top:-30px;margin-bottom:5px">
    <h5 style="margin-left: 7px;">Pickling</h5>
  </div>
  <div class="row">
    <div class="col-lg-12">
      <div class="para" style="margin-left:-7px">
        <p>Hi! Welcome to Heesuk's Kitchen! My name is Heesuk Jang. I am the author and cook of Heesuk's Kitchen.
          I am also a mom of two beautiful girls ages 7 and 9.
          At the end of 2017, I started developing Heesuk's Kitchen to
          share some of my favorite Korean dishes that my family loves.
           Both my girls grew up largely appreciating Korean family tradition and cultural heritage through food.
          My family loves to eat healthy while enjoying flavorful and appealing foods and cooking.
          Food in my family means more than just feeding nutritions. It means love and soul.
        </p>
      </div>
     </div>
    </div>
  </div>

  <div class="list" style="margin-top:0px;">
    <div class="container">
        <div class="row">
          <div class="col-lg-4 clickable" (click)="goToRecipeDetail('5a74aa6b1a49d24d5d879ce9')">
            <div class="box grid recipes">
              <img class=" clickable" width="100%" height="230"style="margin-bottom:22px;background-color:#F7FCFC;padding:0px 0px;" src="/assets/images/banchan/kimchi.png" alt>
              <div>
                <h6 style="letter-spacing:.05rem;text-align:center;margin-bottom:10px;">Baechukimchi 배추김치</h6>
                <p style="text-align:center;padding:0 12px 0 12px;padding-bottom:25px;font-size:14px;">Baechu-kimchi, translated as cabbage kimchi or simply kimchi is a quintessential side dish.</p>
              </div>
            </div>
          </div>
        <div class="col-lg-4 clickable" (click)="goToRecipeDetail('5a74aced1a49d24d5d879cea')">
          <div class="box grid recipes">
            <img class=" clickable" width="100%" height="230"style="margin-bottom:22px;background-color:#F7FCFC;padding:0px 0px;" src="/assets/images/banchan/youngradish.png" alt>
            <div>
              <h6 style="letter-spacing:.05rem;text-align:center;margin-bottom:10px;">Chonggakkimchi 총각김치</h6>
              <p style="text-align:center;padding:0 18px 0 18px;padding-bottom:25px;font-size:14px;">Chonggakmu or Chonggak radish is a variety of white radish.</p>
            </div>
          </div>
        </div>
        <div class="col-lg-4 clickable" (click)="goToRecipeDetail('5a74add71a49d24d5d879ceb')">
          <div class="box grid recipes">
            <img class=" clickable" width="100%" height="230"style="margin-bottom:22px;background-color:#F7FCFC;padding:0px 0px;" src="/assets/images/banchan/kakdugi.png" alt>
            <div>
              <h6 style="letter-spacing:.05rem;text-align:center;margin-bottom:10px;">Kakdugi 깍두기</h6>
              <p style="text-align:center;padding:0 12px 0 12px;padding-bottom:25px;font-size:14px;">A fishcake is a food item similar to a croquette, consisting of filleted fish or other seafood.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- grilling -->
  <div class="container">
    <div class="row subt" style="margin-top:20px;margin-bottom:8px">
      <h5 style="margin-left: 7px;">Grilling</h5>
    </div>
    <div class="row">
      <div class="col-lg-12">
        <div class="para" style="margin-left:-7px">
          <p>Hi! Welcome to Heesuk's Kitchen! My name is Heesuk Jang. I am the author and cook of Heesuk's Kitchen.
            I am also a mom of two beautiful girls ages 7 and 9.
            At the end of 2017, I started developing Heesuk's Kitchen to
            share some of my favorite Korean dishes that my family loves.
             Both my girls grew up largely appreciating Korean family tradition and cultural heritage through food.
            My family loves to eat healthy while enjoying flavorful and appealing foods and cooking.
            Food in my family means more than just feeding nutritions. It means love and soul.
          </p>
        </div>
       </div>
      </div>
    </div>

    <div class="list" style="margin-top:0px;">
      <div class="container">
          <div class="row">
            <div class="col-lg-4 clickable" (click)="goToRecipeDetail('5a70f057f09d9f03930ba4f8')">
              <div class="box grid recipes">
                <img class=" clickable" width="100%" height="230"style="margin-bottom:22px;background-color:#F7FCFC;padding:0px 0px;" src="/assets/images/bbq1.png" alt>
                <div>
                  <h6 style="letter-spacing:.05rem;text-align:center;margin-bottom:10px;">GalbiBBQ 갈비구이</h6>
                  <p style="text-align:center;padding:0 12px 0 12px;padding-bottom:25px;font-size:14px;">Baechu-kimchi, translated as cabbage kimchi or simply kimchi is a quintessential side dish.</p>
                </div>
              </div>
            </div>
          <div class="col-lg-4 clickable" (click)="goToRecipeDetail('5a70f868f09d9f03930ba4f9')">
            <div class="box grid recipes">
              <img class=" clickable" width="100%" height="230"style="margin-bottom:22px;background-color:#F7FCFC;padding:0px 0px;" src="/assets/images/bbq1-fish.png" alt>
              <div>
                <h6 style="letter-spacing:.05rem;text-align:center;margin-bottom:10px;">SangsunBBQ 생선구이</h6>
                <p style="text-align:center;padding:0 18px 0 18px;padding-bottom:25px;font-size:14px;">Chonggakmu or Chonggak radish is a variety of white radish.</p>
              </div>
            </div>
          </div>
          <div class="col-lg-4 clickable" (click)="goToRecipeDetail('5a71030df09d9f03930ba4fb')">
            <div class="box grid recipes">
              <img class=" clickable" width="100%" height="230"style="margin-bottom:22px;background-color:#F7FCFC;padding:0px 0px;" src="/assets/images/bbq-vege.png" alt>
              <div>
                <h6 style="letter-spacing:.05rem;text-align:center;margin-bottom:10px;">YachaegotyeeBBQ 야채꽂이구이</h6>
                <p style="text-align:center;padding:0 12px 0 12px;padding-bottom:25px;font-size:14px;">A fishcake is a food item similar to a croquette, consisting of filleted fish or other seafood.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- stewing -->
    <div class="container">
      <div class="row subt" style="margin-top:20px;margin-bottom:8px">
        <h5 style="margin-left: 7px;">Soup</h5>
      </div>
      <div class="row">
        <div class="col-lg-12">
          <div class="para" style="margin-left:-7px">
            <p>Hi! Welcome to Heesuk's Kitchen! My name is Heesuk Jang. I am the author and cook of Heesuk's Kitchen.
              I am also a mom of two beautiful girls ages 7 and 9.
              At the end of 2017, I started developing Heesuk's Kitchen to
              share some of my favorite Korean dishes that my family loves.
               Both my girls grew up largely appreciating Korean family tradition and cultural heritage through food.
              My family loves to eat healthy while enjoying flavorful and appealing foods and cooking.
              Food in my family means more than just feeding nutritions. It means love and soul.
            </p>
          </div>
         </div>
        </div>
      </div>

<!-- soup -->
      <div class="list" style="margin-top:0px;">
        <div class="container">
            <div class="row">
              <div class="col-lg-4 clickable" (click)="goToRecipeDetail('5a70f057f09d9f03930ba4f8')">
                <div class="box grid recipes">
                  <img class=" clickable" width="100%" height="230"style="margin-bottom:22px;background-color:#F7FCFC;padding:0px 0px;" src="/assets/images/chicken.png" alt>
                  <div>
                    <h6 style="letter-spacing:.05rem;text-align:center;margin-bottom:10px;">Dakdoritang 닭도리탕</h6>
                    <p style="text-align:center;padding:0 12px 0 12px;padding-bottom:25px;font-size:14px;">Baechu-kimchi, translated as cabbage kimchi or simply kimchi is a quintessential side dish.</p>
                  </div>
                </div>
              </div>
            <div class="col-lg-4 clickable" (click)="goToRecipeDetail('5a70f868f09d9f03930ba4f9')">
              <div class="box grid recipes">
                <img class=" clickable" width="100%" height="230"style="margin-bottom:22px;background-color:#F7FCFC;padding:0px 0px;" src="/assets/images/seaweeds.png" alt>
                <div>
                  <h6 style="letter-spacing:.05rem;text-align:center;margin-bottom:10px;">Miyukguk 미역국</h6>
                  <p style="text-align:center;padding:0 18px 0 18px;padding-bottom:25px;font-size:14px;">Chonggakmu or Chonggak radish is a variety of white radish.</p>
                </div>
              </div>
            </div>
            <div class="col-lg-4 clickable" (click)="goToRecipeDetail('5a71030df09d9f03930ba4fb')">
              <div class="box grid recipes">
                <img class=" clickable" width="100%" height="230"style="margin-bottom:22px;background-color:#F7FCFC;padding:0px 0px;" src="/assets/images/fishsoup.png" alt>
                <div>
                  <h6 style="letter-spacing:.05rem;text-align:center;margin-bottom:10px;">Maeueontang 매운탕</h6>
                  <p style="text-align:center;padding:0 12px 0 12px;padding-bottom:25px;font-size:14px;">A fishcake is a food item similar to a croquette, consisting of filleted fish or other seafood.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- stewing -->
      <div class="container">
        <div class="row subt" style="margin-top:20px;margin-bottom:8px">
          <h5 style="margin-left: 7px;">Stewing</h5>
        </div>
        <div class="row">
          <div class="col-lg-12">
            <div class="para" style="margin-left:-7px">
              <p>Hi! Welcome to Heesuk's Kitchen! My name is Heesuk Jang. I am the author and cook of Heesuk's Kitchen.
                I am also a mom of two beautiful girls ages 7 and 9.
                At the end of 2017, I started developing Heesuk's Kitchen to
                share some of my favorite Korean dishes that my family loves.
                 Both my girls grew up largely appreciating Korean family tradition and cultural heritage through food.
                My family loves to eat healthy while enjoying flavorful and appealing foods and cooking.
                Food in my family means more than just feeding nutritions. It means love and soul.
              </p>
            </div>
           </div>
          </div>
        </div>

        <div class="list" style="margin-top:0px;">
          <div class="container">
              <div class="row">
                <div class="col-lg-4 clickable" (click)="goToRecipeDetail('5a70f057f09d9f03930ba4f8')">
                  <div class="box grid recipes">
                    <img class=" clickable" width="100%" height="230"style="margin-bottom:22px;background-color:#F7FCFC;padding:0px 0px;" src="/assets/images/kimchi-stew.png" alt>
                    <div>
                      <h6 style="letter-spacing:.05rem;text-align:center;margin-bottom:10px;">Kimchijigae 김치찌게</h6>
                      <p style="text-align:center;padding:0 12px 0 12px;padding-bottom:25px;font-size:14px;">Baechu-kimchi, translated as cabbage kimchi or simply kimchi is a quintessential side dish.</p>
                    </div>
                  </div>
                </div>
              <div class="col-lg-4 clickable" (click)="goToRecipeDetail('5a70f868f09d9f03930ba4f9')">
                <div class="box grid recipes">
                  <img class=" clickable" width="100%" height="230"style="margin-bottom:22px;background-color:#F7FCFC;padding:0px 0px;" src="/assets/images/soybean1.png" alt>
                  <div>
                    <h6 style="letter-spacing:.05rem;text-align:center;margin-bottom:10px;">Doenjangjigae 된장찌게</h6>
                    <p style="text-align:center;padding:0 18px 0 18px;padding-bottom:25px;font-size:14px;">Chonggakmu or Chonggak radish is a variety of white radish.</p>
                  </div>
                </div>
              </div>
              <div class="col-lg-4 clickable" (click)="goToRecipeDetail('5a71030df09d9f03930ba4fb')">
                <div class="box grid recipes">
                  <img class=" clickable" width="100%" height="230"style="margin-bottom:22px;background-color:#F7FCFC;padding:0px 0px;" src="/assets/images/soontofu.png" alt>
                  <div>
                    <h6 style="letter-spacing:.05rem;text-align:center;margin-bottom:10px;">Soontofujigae 순두부찌게</h6>
                    <p style="text-align:center;padding:0 12px 0 12px;padding-bottom:25px;font-size:14px;">A fishcake is a food item similar to a croquette, consisting of filleted fish or other seafood.</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- stir-fry -->
        <div class="container">
          <div class="row subt" style="margin-top:20px;margin-bottom:8px">
            <h5 style="margin-left: 7px;">Stir Frying</h5>
          </div>
          <div class="row">
            <div class="col-lg-12">
              <div class="para" style="margin-left:-7px">
                <p>Hi! Welcome to Heesuk's Kitchen! My name is Heesuk Jang. I am the author and cook of Heesuk's Kitchen.
                  I am also a mom of two beautiful girls ages 7 and 9.
                  At the end of 2017, I started developing Heesuk's Kitchen to
                  share some of my favorite Korean dishes that my family loves.
                   Both my girls grew up largely appreciating Korean family tradition and cultural heritage through food.
                  My family loves to eat healthy while enjoying flavorful and appealing foods and cooking.
                  Food in my family means more than just feeding nutritions. It means love and soul.
                </p>
              </div>
             </div>
            </div>
          </div>

          <div class="list" style="margin-top:0px;">
            <div class="container">
                <div class="row">
                  <div class="col-lg-4 clickable" (click)="goToRecipeDetail('5a70f057f09d9f03930ba4f8')">
                    <div class="box grid recipes">
                      <img class=" clickable" width="100%" height="230"style="margin-bottom:22px;background-color:#F7FCFC;padding:0px 0px;" src="/assets/images/squidb.png" alt>
                      <div>
                        <h6 style="letter-spacing:.05rem;text-align:center;margin-bottom:10px;">Ohjinguh 오징어볶음</h6>
                        <p style="text-align:center;padding:0 12px 0 12px;padding-bottom:25px;font-size:14px;">Baechu-kimchi, translated as cabbage kimchi or simply kimchi is a quintessential side dish.</p>
                      </div>
                    </div>
                  </div>
                <div class="col-lg-4 clickable" (click)="goToRecipeDetail('5a70f868f09d9f03930ba4f9')">
                  <div class="box grid recipes">
                    <img class=" clickable" width="100%" height="230"style="margin-bottom:22px;background-color:#F7FCFC;padding:0px 0px;" src="/assets/images/banchan/stir-fried-anchovies-with-nuts.png" alt>
                    <div>
                      <h6 style="letter-spacing:.05rem;text-align:center;margin-bottom:10px;">Myulchi 멸치볶음</h6>
                      <p style="text-align:center;padding:0 18px 0 18px;padding-bottom:25px;font-size:14px;">Chonggakmu or Chonggak radish is a variety of white radish.</p>
                    </div>
                  </div>
                </div>
                <div class="col-lg-4 clickable" (click)="goToRecipeDetail('5a71030df09d9f03930ba4fb')">
                  <div class="box grid recipes">
                    <img class=" clickable" width="100%" height="230"style="margin-bottom:22px;background-color:#F7FCFC;padding:0px 0px;" src="/assets/images/sausageb.png" alt>
                    <div>
                      <h6 style="letter-spacing:.05rem;text-align:center;margin-bottom:10px;">Sausageyachae 소시지야채볶음</h6>
                      <p style="text-align:center;padding:0 12px 0 12px;padding-bottom:25px;font-size:14px;">A fishcake is a food item similar to a croquette, consisting of filleted fish or other seafood.</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <!-- pan-frying -->
          <div class="container">
            <div class="row subt" style="margin-top:20px;margin-bottom:8px">
              <h5 style="margin-left: 7px;">Pan Frying</h5>
            </div>
            <div class="row">
              <div class="col-lg-12">
                <div class="para" style="margin-left:-7px">
                  <p>Hi! Welcome to Heesuk's Kitchen! My name is Heesuk Jang. I am the author and cook of Heesuk's Kitchen.
                    I am also a mom of two beautiful girls ages 7 and 9.
                    At the end of 2017, I started developing Heesuk's Kitchen to
                    share some of my favorite Korean dishes that my family loves.
                     Both my girls grew up largely appreciating Korean family tradition and cultural heritage through food.
                    My family loves to eat healthy while enjoying flavorful and appealing foods and cooking.
                    Food in my family means more than just feeding nutritions. It means love and soul.
                  </p>
                </div>
               </div>
              </div>
            </div>

            <div class="list" style="margin-top:0px;">
              <div class="container">
                  <div class="row">
                    <div class="col-lg-4 clickable" (click)="goToRecipeDetail('5a70f057f09d9f03930ba4f8')">
                      <div class="box grid recipes">
                        <img class=" clickable" width="100%" height="230"style="margin-bottom:22px;background-color:#F7FCFC;padding:0px 0px;" src="/assets/images/pajeon.png" alt>
                        <div>
                          <h6 style="letter-spacing:.05rem;text-align:center;margin-bottom:10px;">Haemulpajeon 해물파전</h6>
                          <p style="text-align:center;padding:0 12px 0 12px;padding-bottom:25px;font-size:14px;">Baechu-kimchi, translated as cabbage kimchi or simply kimchi is a quintessential side dish.</p>
                        </div>
                      </div>
                    </div>
                  <div class="col-lg-4 clickable" (click)="goToRecipeDetail('5a70f868f09d9f03930ba4f9')">
                    <div class="box grid recipes">
                      <img class=" clickable" width="100%" height="230"style="margin-bottom:22px;background-color:#F7FCFC;padding:0px 0px;" src="/assets/images/tooth.png" alt>
                      <div>
                        <h6 style="letter-spacing:.05rem;text-align:center;margin-bottom:10px;">Ohsakggotyee 오색꽂이전</h6>
                        <p style="text-align:center;padding:0 18px 0 18px;padding-bottom:25px;font-size:14px;">Chonggakmu or Chonggak radish is a variety of white radish.</p>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-4 clickable" (click)="goToRecipeDetail('5a71030df09d9f03930ba4fb')">
                    <div class="box grid recipes">
                      <img class=" clickable" width="100%" height="230"style="margin-bottom:22px;background-color:#F7FCFC;padding:0px 0px;" src="/assets/images/kimchijeon.png" alt>
                      <div>
                        <h6 style="letter-spacing:.05rem;text-align:center;margin-bottom:10px;">Kimchijeon 김치전</h6>
                        <p style="text-align:center;padding:0 12px 0 12px;padding-bottom:25px;font-size:14px;">A fishcake is a food item similar to a croquette, consisting of filleted fish or other seafood.</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>


            <!-- Steadming or braising -->
            <div class="container">
              <div class="row subt" style="margin-top:20px;margin-bottom:8px">
                <h5 style="margin-left: 7px;">Steaming or Braising</h5>
              </div>
              <div class="row">
                <div class="col-lg-12">
                  <div class="para" style="margin-left:-7px">
                    <p>Hi! Welcome to Heesuk's Kitchen! My name is Heesuk Jang. I am the author and cook of Heesuk's Kitchen.
                      I am also a mom of two beautiful girls ages 7 and 9.
                      At the end of 2017, I started developing Heesuk's Kitchen to
                      share some of my favorite Korean dishes that my family loves.
                       Both my girls grew up largely appreciating Korean family tradition and cultural heritage through food.
                      My family loves to eat healthy while enjoying flavorful and appealing foods and cooking.
                      Food in my family means more than just feeding nutritions. It means love and soul.
                    </p>
                  </div>
                 </div>
                </div>
              </div>

              <div class="list" style="margin-top:0px;">
                <div class="container">
                    <div class="row">
                      <div class="col-lg-4 clickable" (click)="goToRecipeDetail('5a70f057f09d9f03930ba4f8')">
                        <div class="box grid recipes">
                          <img class=" clickable" width="100%" height="230"style="margin-bottom:22px;background-color:#F7FCFC;padding:0px 0px;" src="/assets/images/galbijim.png" alt>
                          <div>
                            <h6 style="letter-spacing:.05rem;text-align:center;margin-bottom:10px;">Galbijjim 갈비찜</h6>
                            <p style="text-align:center;padding:0 12px 0 12px;padding-bottom:25px;font-size:14px;">Baechu-kimchi, translated as cabbage kimchi or simply kimchi is a quintessential side dish.</p>
                          </div>
                        </div>
                      </div>
                    <div class="col-lg-4 clickable" (click)="goToRecipeDetail('5a70f868f09d9f03930ba4f9')">
                      <div class="box grid recipes">
                        <img class=" clickable" width="100%" height="230"style="margin-bottom:22px;background-color:#F7FCFC;padding:0px 0px;" src="/assets/images/haemuljim.png" alt>
                        <div>
                          <h6 style="letter-spacing:.05rem;text-align:center;margin-bottom:10px;">Haemuljjim 해물찜</h6>
                          <p style="text-align:center;padding:0 18px 0 18px;padding-bottom:25px;font-size:14px;">Chonggakmu or Chonggak radish is a variety of white radish.</p>
                        </div>
                      </div>
                    </div>
                    <div class="col-lg-4 clickable" (click)="goToRecipeDetail('5a71030df09d9f03930ba4fb')">
                      <div class="box grid recipes">
                        <img class=" clickable" width="100%" height="230"style="margin-bottom:22px;background-color:#F7FCFC;padding:0px 0px;" src="/assets/images/fishjorim.png" alt>
                        <div>
                          <h6 style="letter-spacing:.05rem;text-align:center;margin-bottom:10px;">Sangsunjorim 생선감자조림</h6>
                          <p style="text-align:center;padding:0 12px 0 12px;padding-bottom:25px;font-size:14px;">A fishcake is a food item similar to a croquette, consisting of filleted fish or other seafood.</p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
