<!-- about the author -->
<div class="container">
  <div class="row title-text-list">
    <h5><a class="navbar-brand" href="http://nj.hmart.com/" style="margin-left:10px;margin-top:30px;margin-bottom:-10px;font-size:15px">Ingredients</a>
    </h5>
  </div>

<!-- meat & Seafood -->

  <div class="list">
    <div class="container">
      <!-- <div class="row subtitle">
        <h5 style="margin-top:0px;margin-bottom:-22px;color:black;">Meat & Fish</h5>
      </div> -->
        <div class="row" style="margin-top:-20px;">
          <div class="col-lg-2">
            <div class="box grid recipes">
              <a href="http://nj.hmart.com/020122615658/"><img class=" clickable" width="100%" height="180"style="margin-bottom:22px;background-color:#F7FCFC;padding:0px 0px;" src="/assets/images/hk-images/beef.png" alt></a>
              <div>
                <h6>Beef Short Ribs</h6>
              </div>
            </div>
          </div>
          <div class="col-lg-2">
            <div class="box grid recipes">
              <a href="http://nj.hmart.com/20160600000/"><img class=" clickable" width="100%" height="180"style="margin-bottom:22px;background-color:#F7FCFC;padding:0px 0px;" src="/assets/images/hk-images/pork.png" alt></a>
              <div>
                <h6>Pork Belly</h6>
              </div>
            </div>
          </div>
          <div class="col-lg-2">
            <div class="box grid recipes">
              <a href="http://nj.hmart.com/20460100000/"><img class=" clickable" width="100%" height="180"style="margin-bottom:22px;background-color:#F7FCFC;padding:0px 0px;" src="/assets/images/hk-images/fish.png" alt></a>
              <div>
                <h6>Fish</h6>
              </div>
            </div>
          </div>
          <div class="col-lg-2">
            <div class="box grid recipes">
              <a href="http://nj.hmart.com/846034049130/"><img class=" clickable" width="100%" height="180"style="margin-bottom:22px;background-color:#F7FCFC;padding:0px 0px;" src="/assets/images/hk-images/crab.png" alt></a>
              <div>
                <h6>Crab</h6>
              </div>
            </div>
          </div>
          <div class="col-lg-2">
            <div class="box grid recipes">
              <a href="http://nj.hmart.com/84603403031/"><img class=" clickable" width="100%" height="180"style="margin-bottom:22px;background-color:#F7FCFC;padding:0px 0px;" src="/assets/images/hk-images/octopus.png" alt></a>
              <div>
                <h6>Octopus</h6>
              </div>
            </div>
          </div>
          <div class="col-lg-2">
            <div class="box grid recipes">
              <a href="http://nj.hmart.com/883298616098/"><img class=" clickable" width="100%" height="180"style="margin-bottom:22px;background-color:#F7FCFC;padding:0px 0px;" src="/assets/images/hk-images/snail.png" alt></a>
              <div>
                <h6>Snail</h6>
              </div>
            </div>
          </div>
      </div>

<!-- Veges -->
      <div class="row subtitle">
        <h5 style="margin-top:35px;margin-bottom:-22px;color: #666;font-size:14px">Vegetable</h5>
      </div>
      <div class="row" style="margin-top:50px;">
        <div class="col-lg-2">
          <div class="box grid recipes">
            <a href="http://nj.hmart.com/2195/"><img class=" clickable" width="100%" height="180"style="margin-bottom:22px;background-color:#F7FCFC;padding:0px 0px;" src="/assets/images/hk-images/baechu.png" alt></a>
            <div>
              <h6>Napa Cabbage</h6>
            </div>
          </div>
        </div>
        <div class="col-lg-2">
          <div class="box grid recipes">
            <a href="http://nj.hmart.com/2159-4/"><img class=" clickable" width="100%" height="180"style="margin-bottom:22px;background-color:#F7FCFC;padding:0px 0px;" src="/assets/images/hk-images/sesameleaf.png" alt></a>
            <div>
              <h6>Sesame Leaf</h6>
            </div>
          </div>
        </div>
        <div class="col-lg-2">
          <div class="box grid recipes">
            <a href="http://nj.hmart.com/2175/"><img class=" clickable" width="100%" height="180"style="margin-bottom:22px;background-color:#F7FCFC;padding:0px 0px;" src="/assets/images/hk-images/radish.png" alt></a>
            <div>
              <h6>Radish</h6>
            </div>
          </div>
        </div>
        <div class="col-lg-2">
          <div class="box grid recipes">
            <a href="http://nj.hmart.com/808248144063/"><img class=" clickable" width="100%" height="180"style="margin-bottom:22px;background-color:#F7FCFC;padding:0px 0px;" src="/assets/images/hk-images/chonggakmu.png" alt></a>
            <div>
              <h6>Young Radish</h6>
            </div>
          </div>
        </div>
        <div class="col-lg-2">
          <div class="box grid recipes">
            <a href="http://nj.hmart.com/catalogsearch/result/?q=garlic+chives"><img class=" clickable" width="100%" height="180"style="margin-bottom:22px;background-color:#F7FCFC;padding:0px 0px;" src="/assets/images/hk-images/pa.png" alt></a>
            <div>
              <h6>Green Onion</h6>
            </div>
          </div>
        </div>
        <div class="col-lg-2">
          <div class="box grid recipes">
            <a href="http://nj.hmart.com/2118/"><img class=" clickable" width="100%" height="180"style="margin-bottom:22px;background-color:#F7FCFC;padding:0px 0px;" src="/assets/images/hk-images/gochu.png" alt></a>
            <div>
              <h6>Pepper</h6>
            </div>
          </div>
        </div>
      </div>

<!-- rice & noodles -->
      <div class="row subtitle">
        <h5 style="margin-top:35px;margin-bottom:-22px;color: #666;font-size:14px">Rice & Noodle</h5>
      </div>
      <div class="row" style="margin-top:50px;">
        <div class="col-lg-2">
          <div class="box grid recipes">
            <a href="http://nj.hmart.com/84603401900/"><img class=" clickable" width="100%" height="180"style="margin-bottom:22px;background-color:#F7FCFC;padding:0px 0px;" src="/assets/images/hk-images/whiterice.png" alt></a>
            <div>
              <h6>White Rice</h6>
            </div>
          </div>
        </div>
        <div class="col-lg-2">
          <div class="box grid recipes">
            <a href="http://nj.hmart.com/84603401902/"><img class=" clickable" width="100%" height="180"style="margin-bottom:22px;background-color:#F7FCFC;padding:0px 0px;" src="/assets/images/hk-images/brownrice.png" alt></a>
            <div>
              <h6>Brown Rice</h6>
            </div>
          </div>
        </div>
        <div class="col-lg-2">
          <div class="box grid recipes">
            <a href="http://nj.hmart.com/84603400019/"><img class=" clickable" width="100%" height="180"style="margin-bottom:22px;background-color:#F7FCFC;padding:0px 0px;" src="/assets/images/hk-images/dangmyun.png" alt></a>
            <div>
              <h6>Glass Noodles</h6>
            </div>
          </div>
        </div>
        <div class="col-lg-2">
          <div class="box grid recipes">
            <a href="http://nj.hmart.com/8801127120020/"><img class=" clickable" width="100%" height="180"style="margin-bottom:22px;background-color:#F7FCFC;padding:0px 0px;" src="/assets/images/hk-images/nangmyun.png" alt></a>
            <div>
              <h6>Cold Noodles</h6>
            </div>
          </div>
        </div>
        <div class="col-lg-2">
          <div class="box grid recipes">
            <a href="http://nj.hmart.com/677704121814-dry/"><img class=" clickable" width="100%" height="180"style="margin-bottom:22px;background-color:#F7FCFC;padding:0px 0px;" src="/assets/images/hk-images/duk.png" alt></a>
            <div>
              <h6>Rice Cake</h6>
            </div>
          </div>
        </div>
        <div class="col-lg-2">
          <div class="box grid recipes">
            <a href="http://nj.hmart.com/31146016921/"><img class=" clickable" width="100%" height="180"style="margin-bottom:22px;background-color:#F7FCFC;padding:0px 0px;" src="/assets/images/hk-images/udon.png" alt></a>
            <div>
              <h6>Udon</h6>
            </div>
          </div>
        </div>
    </div>

    <!-- sauce -->
      <div class="row subtitle">
        <h5 style="margin-top:35px;margin-bottom:-22px;color: #666;font-size:14px">Condiment</h5>
      </div>
      <div class="row" style="margin-top:50px;">
        <div class="col-lg-2">
          <div class="box grid recipes">
            <a href="http://nj.hmart.com/880100510702/"><img class=" clickable" width="100%" height="180"style="margin-bottom:22px;background-color:#F7FCFC;padding:0px 0px;" src="/assets/images/hk-images/soysauce.png" alt></a>
            <div>
              <h6>Soy Sauce</h6>
            </div>
          </div>
        </div>
        <div class="col-lg-2">
          <div class="box grid recipes">
            <a href="http://nj.hmart.com/880105245217/"><img class=" clickable" width="100%" height="180"style="margin-bottom:22px;background-color:#F7FCFC;padding:0px 0px;" src="/assets/images/hk-images/gochujang.png" alt></a>
            <div>
              <h6>Red Pepper Paste</h6>
            </div>
          </div>
        </div>
        <div class="col-lg-2">
          <div class="box grid recipes">
            <a href="http://nj.hmart.com/880105243635/"><img class=" clickable" width="100%" height="180"style="margin-bottom:22px;background-color:#F7FCFC;padding:0px 0px;" src="/assets/images/hk-images/soybeanpaste.png" alt></a>
            <div>
              <h6>Soybean Paste</h6>
            </div>
          </div>
        </div>
        <div class="col-lg-2">
          <div class="box grid recipes">
            <a href="http://nj.hmart.com/8809061673831/"><img class=" clickable" width="100%" height="180"style="margin-bottom:22px;background-color:#F7FCFC;padding:0px 0px;" src="/assets/images/hk-images/gochugaru.png" alt></a>
            <div>
              <h6>Red Pepper Powder</h6>
            </div>
          </div>
        </div>
        <div class="col-lg-2">
          <div class="box grid recipes">
            <a href="http://nj.hmart.com/8801007441375/"><img class=" clickable" width="100%" height="180"style="margin-bottom:22px;background-color:#F7FCFC;padding:0px 0px;" src="/assets/images/hk-images/sesameoil.png" alt></a>
            <div>
              <h6>Sesame Oil</h6>
            </div>
          </div>
        </div>
        <div class="col-lg-2">
          <div class="box grid recipes">
            <a href="http://nj.hmart.com/840809080649/"><img class=" clickable" width="100%" height="180"style="margin-bottom:22px;background-color:#F7FCFC;padding:0px 0px;" src="/assets/images/hk-images/saltedshrimp.png" alt></a>
            <div>
              <h6>Salted Shrimp</h6>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

    <!-- load more -->
    <div class="col-lg-12 text-center" style="padding:45px">
      <a href="#" class="btn btn-load">Load More</a>
    </div>
