<!-- about the author -->
<div class="container">
  <div class="row title-text-list">
    <h5><a class="navbar-brand" href="http://nj.hmart.com/" style="margin-top:40px;margin-bottom:0px">Ingredients</a>
    </h5>
  </div>

<!-- meat & Seafood -->

  <div class="list">
    <div class="container">
      <!-- <div class="row subtitle">
        <h5 style="margin-top:0px;margin-bottom:-22px;color:black;">Meat & Fish</h5>
      </div> -->
        <div class="row" style="margin-top:-20px;">
          <div class="col-lg-2">
            <div class="box grid recipes">
              <a href="http://nj.hmart.com/020122615658/"><img class=" clickable" width="100%" height="200"style="margin-bottom:22px;background-color:#F7FCFC;padding:0px 0px;" src="/assets/images/ingredients/meat.png" alt></a>
              <div>
                <h6 style="font-size:13px;letter-spacing:.05rem;text-align:center;padding-bottom:20px;">Beef</h6>
              </div>
            </div>
          </div>
          <div class="col-lg-2">
            <div class="box grid recipes">
              <a href="http://nj.hmart.com/20160600000/"><img class=" clickable" width="100%" height="200"style="margin-bottom:22px;background-color:#F7FCFC;padding:0px 0px;" src="/assets/images/ingredients/moksal.png" alt></a>
              <div>
                <h6 style="font-size:13px;letter-spacing:.05rem;text-align:center;padding:0 10px 20px 10px;">Pork Collar Butt</h6>
              </div>
            </div>
          </div>
          <div class="col-lg-2">
            <div class="box grid recipes">
              <a href="http://nj.hmart.com/20460100000/"><img class=" clickable" width="100%" height="200"style="margin-bottom:22px;background-color:#F7FCFC;padding:0px 0px;" src="/assets/images/ingredients/mack.png" alt></a>
              <div>
                <h6 style="font-size:13px;letter-spacing:.05rem;text-align:center;padding-bottom:20px;">Mackerel</h6>
              </div>
            </div>
          </div>
          <div class="col-lg-2">
            <div class="box grid recipes">
              <a href="http://nj.hmart.com/5811/"><img class=" clickable" width="100%" height="200"style="margin-bottom:22px;background-color:#F7FCFC;padding:0px 0px;" src="/assets/images/ingredients/squid.png" alt></a>
              <div>
                <h6 style="font-size:13px;letter-spacing:.05rem;text-align:center;padding-bottom:20px;">Squid</h6>
              </div>
            </div>
          </div>
          <div class="col-lg-2">
            <div class="box grid recipes">
              <a href="http://nj.hmart.com/84603403031/"><img class=" clickable" width="100%" height="200"style="margin-bottom:22px;background-color:#F7FCFC;padding:0px 0px;" src="/assets/images/ingredients/nakgi.png" alt></a>
              <div>
                <h6 style="font-size:13px;letter-spacing:.05rem;text-align:center;padding-bottom:20px;">Small Octopus</h6>
              </div>
            </div>
          </div>
          <div class="col-lg-2">
            <div class="box grid recipes">
              <a href="http://nj.hmart.com/883298616098/"><img class=" clickable" width="100%" height="200"style="margin-bottom:22px;background-color:#F7FCFC;padding:0px 0px;" src="/assets/images/ingredients/snail.png" alt></a>
              <div>
                <h6 style="font-size:13px;letter-spacing:.05rem;text-align:center;padding-bottom:20px;">Snail</h6>
              </div>
            </div>
          </div>
      </div>

<!-- Veges -->
      <div class="row subtitle">
        <h5 style="margin-top:35px;margin-bottom:-22px;color: #666;">Vegetable</h5>
      </div>
      <div class="row" style="margin-top:50px;">
        <div class="col-lg-2">
          <div class="box grid recipes">
            <a href="http://nj.hmart.com/2195/"><img class=" clickable" width="100%" height="200"style="margin-bottom:22px;background-color:#F7FCFC;padding:0px 0px;" src="/assets/images/ingredients/napa.png" alt></a>
            <div>
              <h6 style="font-size:13px;letter-spacing:.05rem;text-align:center;padding-bottom:20px;">Napa Cabbage</h6>
            </div>
          </div>
        </div>
        <div class="col-lg-2">
          <div class="box grid recipes">
            <a href="http://nj.hmart.com/2159-4/"><img class=" clickable" width="100%" height="200"style="margin-bottom:22px;background-color:#F7FCFC;padding:0px 0px;" src="/assets/images/ingredients/sesame leaf.png" alt></a>
            <div>
              <h6 style="font-size:13px;letter-spacing:.05rem;text-align:center;padding:0 10px 20px 10px;">Sesame Leaf</h6>
            </div>
          </div>
        </div>
        <div class="col-lg-2">
          <div class="box grid recipes">
            <a href="http://nj.hmart.com/2175/"><img class=" clickable" width="100%" height="200"style="margin-bottom:22px;background-color:#F7FCFC;padding:0px 0px;" src="/assets/images/ingredients/radish.png" alt></a>
            <div>
              <h6 style="font-size:13px;letter-spacing:.05rem;text-align:center;padding-bottom:20px;">Radish</h6>
            </div>
          </div>
        </div>
        <div class="col-lg-2">
          <div class="box grid recipes">
            <a href="http://nj.hmart.com/808248144063/"><img class=" clickable" width="100%" height="200"style="margin-bottom:22px;background-color:#F7FCFC;padding:0px 0px;" src="/assets/images/ingredients/youngr.png" alt></a>
            <div>
              <h6 style="font-size:13px;letter-spacing:.05rem;text-align:center;padding-bottom:20px;">Young Radish</h6>
            </div>
          </div>
        </div>
        <div class="col-lg-2">
          <div class="box grid recipes">
            <a href="http://nj.hmart.com/catalogsearch/result/?q=garlic+chives"><img class=" clickable" width="100%" height="200"style="margin-bottom:22px;background-color:#F7FCFC;padding:0px 0px;" src="/assets/images/ingredients/garlicc.png" alt></a>
            <div>
              <h6 style="font-size:13px;letter-spacing:.05rem;text-align:center;padding-bottom:20px;">Galic Chives</h6>
            </div>
          </div>
        </div>
        <div class="col-lg-2">
          <div class="box grid recipes">
            <a href="http://nj.hmart.com/2118/"><img class=" clickable" width="100%" height="200"style="margin-bottom:22px;background-color:#F7FCFC;padding:0px 0px;" src="/assets/images/ingredients/pepper.png" alt></a>
            <div>
              <h6 style="font-size:13px;letter-spacing:.05rem;text-align:center;padding-bottom:20px;">Pepper</h6>
            </div>
          </div>
        </div>
      </div>

<!-- rice & noodles -->
      <div class="row subtitle">
        <h5 style="margin-top:35px;margin-bottom:-22px;color: #666;">Rice & Noodle</h5>
      </div>
      <div class="row" style="margin-top:50px;">
        <div class="col-lg-2">
          <div class="box grid recipes">
            <a href="http://nj.hmart.com/84603401900/"><img class=" clickable" width="100%" height="200"style="margin-bottom:22px;background-color:#F7FCFC;padding:0px 0px;" src="/assets/images/ingredients/whiterice.png" alt></a>
            <div>
              <h6 style="font-size:13px;letter-spacing:.05rem;text-align:center;padding-bottom:20px;">White Rice</h6>
            </div>
          </div>
        </div>
        <div class="col-lg-2">
          <div class="box grid recipes">
            <a href="http://nj.hmart.com/84603401902/"><img class=" clickable" width="100%" height="200"style="margin-bottom:22px;background-color:#F7FCFC;padding:0px 0px;" src="/assets/images/ingredients/brownrice.png" alt></a>
            <div>
              <h6 style="font-size:13px;letter-spacing:.05rem;text-align:center;padding:0 10px 20px 10px;">Brown Rice</h6>
            </div>
          </div>
        </div>
        <div class="col-lg-2">
          <div class="box grid recipes">
            <a href="http://nj.hmart.com/84603400019/"><img class=" clickable" width="100%" height="200"style="margin-bottom:22px;background-color:#F7FCFC;padding:0px 0px;" src="/assets/images/ingredients/glass_noodle.png" alt></a>
            <div>
              <h6 style="font-size:13px;letter-spacing:.05rem;text-align:center;padding-bottom:20px;">Glass Noodles</h6>
            </div>
          </div>
        </div>
        <div class="col-lg-2">
          <div class="box grid recipes">
            <a href="http://nj.hmart.com/8801127120020/"><img class=" clickable" width="100%" height="200"style="margin-bottom:22px;background-color:#F7FCFC;padding:0px 0px;" src="/assets/images/ingredients/naengmyun.png" alt></a>
            <div>
              <h6 style="font-size:13px;letter-spacing:.05rem;text-align:center;padding-bottom:20px;">Cold Noodles</h6>
            </div>
          </div>
        </div>
        <div class="col-lg-2">
          <div class="box grid recipes">
            <a href="http://nj.hmart.com/677704121814-dry/"><img class=" clickable" width="100%" height="200"style="margin-bottom:22px;background-color:#F7FCFC;padding:0px 0px;" src="/assets/images/ingredients/ricecake.png" alt></a>
            <div>
              <h6 style="font-size:13px;letter-spacing:.05rem;text-align:center;padding-bottom:20px;">Rice Cake</h6>
            </div>
          </div>
        </div>
        <div class="col-lg-2">
          <div class="box grid recipes">
            <a href="http://nj.hmart.com/31146016921/"><img class=" clickable" width="100%" height="200"style="margin-bottom:22px;background-color:#F7FCFC;padding:0px 0px;" src="/assets/images/ingredients/udong.png" alt></a>
            <div>
              <h6 style="font-size:13px;letter-spacing:.05rem;text-align:center;padding-bottom:20px;">Udon</h6>
            </div>
          </div>
        </div>
    </div>

    <!-- sauce -->
      <div class="row subtitle">
        <h5 style="margin-top:35px;margin-bottom:-22px;color: #666;">Condiment</h5>
      </div>
      <div class="row" style="margin-top:50px;">
        <div class="col-lg-2">
          <div class="box grid recipes">
            <a href="http://nj.hmart.com/880100510702/"><img class=" clickable" width="100%" height="200"style="margin-bottom:22px;background-color:#F7FCFC;padding:0px 0px;" src="/assets/images/ingredients/soy.png" alt></a>
            <div>
              <h6 style="font-size:13px;letter-spacing:.05rem;text-align:center;padding-bottom:20px;">Soy Sauce</h6>
            </div>
          </div>
        </div>
        <div class="col-lg-2">
          <div class="box grid recipes">
            <a href="http://nj.hmart.com/880105245217/"><img class=" clickable" width="100%" height="200"style="margin-bottom:22px;background-color:#F7FCFC;padding:0px 0px;" src="/assets/images/ingredients/gochu.png" alt></a>
            <div>
              <h6 style="font-size:13px;letter-spacing:.05rem;text-align:center;padding:0 10px 20px 10px;">Red Pepper Paste</h6>
            </div>
          </div>
        </div>
        <div class="col-lg-2">
          <div class="box grid recipes">
            <a href="http://nj.hmart.com/880105243635/"><img class=" clickable" width="100%" height="200"style="margin-bottom:22px;background-color:#F7FCFC;padding:0px 0px;" src="/assets/images/ingredients/soyb.png" alt></a>
            <div>
              <h6 style="font-size:13px;letter-spacing:.05rem;text-align:center;padding-bottom:20px;">Soybean Paste</h6>
            </div>
          </div>
        </div>
        <div class="col-lg-2">
          <div class="box grid recipes">
            <a href="http://nj.hmart.com/8809061673831/"><img class=" clickable" width="100%" height="200"style="margin-bottom:22px;background-color:#F7FCFC;padding:0px 0px;" src="/assets/images/ingredients/gochugaru.png" alt></a>
            <div>
              <h6 style="font-size:13px;letter-spacing:.05rem;text-align:center;padding-bottom:20px;">Red Pepper Powder</h6>
            </div>
          </div>
        </div>
        <div class="col-lg-2">
          <div class="box grid recipes">
            <a href="http://nj.hmart.com/8801007441375/"><img class=" clickable" width="100%" height="200"style="margin-bottom:22px;background-color:#F7FCFC;padding:0px 0px;" src="/assets/images/ingredients/sesoil.png" alt></a>
            <div>
              <h6 style="font-size:13px;letter-spacing:.05rem;text-align:center;padding-bottom:20px;">Sesame Oil</h6>
            </div>
          </div>
        </div>
        <div class="col-lg-2">
          <div class="box grid recipes">
            <a href="http://nj.hmart.com/8801056023690/"><img class=" clickable" width="100%" height="200"style="margin-bottom:22px;background-color:#F7FCFC;padding:0px 0px;" src="/assets/images/ingredients/cookingwine.png" alt></a>
            <div>
              <h6 style="font-size:13px;letter-spacing:.05rem;text-align:center;padding-bottom:20px;">Rice Wine</h6>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

    <!-- load more -->
    <div class="col-lg-12 text-center" style="padding:45px">
      <a href="#" class="btn btn-load">Load More</a>
    </div>
