
.featured {
    margin-top: 70px;
    margin-bottom: 50px;
    text-align: center;
}
div {
    display: block;
}
.list {
    margin-top: 30px;
}
.recipe-text-margin {
  font-weight: 500;
  margin-top: 38px;
}
.col-margin {
  margin-left: 28px;
}
.img-border {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.div-container {
  padding: 10px;
}
.list h5 {
    margin-bottom: 30px;
    /* padding-bottom: 10px; */
    border-bottom: 1px dashed #dedede;
    /* border-bottom-width: 1px; */
    border-bottom-style: dashed;
    border-bottom-color: rgb(222, 222, 222);
    border-bottom: 5px;

}
.h5, h5 {
    font-size: 1.25rem;
}
.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    margin-bottom: .5rem;
    font-family: inherit;
    font-weight: 500;
    line-height: 1.1;
    color: grey;
}
h1, h2, h3, h4, h5, h6 {
    margin-top: 0;
    margin-bottom: .5rem;
}

.box.list.recipes .in {
    font-size: 14px;
    margin-bottom: 10px;
    letter-spacing: .07rem;
    padding-top: 6px;
    padding-right: 15px;
    padding-bottom: 7px;
    padding-left: 15px;
    text-align: left;
    color: #fff;
    background-color: #4C5151;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.row {
    /* display: -ms-flexbox; */
    display: flex;
    /* -ms-flex-wrap: wrap; */
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}
.box.list.recipes .tag a {
    font-size: 13px;
    display: inline-block;
    padding: 3px 15px;
    color: #808080;
    border: 1px solid #dedede;
    border-radius: 40px;
}
h5 {
    display: block;
    font-size: 0.83em;
    -webkit-margin-before: 1.67em;
    -webkit-margin-after: 1.67em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    font-weight: bold;
}
.box.list.recipes {
    margin-top: 0;
    /* margin-bottom: 30px; */
    padding-bottom: 10px;
    border: 1px solid #dedede;
    border-top-color: rgb(222, 222, 222);
    border-top-style: solid;
    border-top-width: 1px;
    border-right-color: rgb(222, 222, 222);
    border-right-style: solid;
    border-right-width: 1px;
    border-bottom-color: rgb(222, 222, 222);
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-left-color: rgb(222, 222, 222);
    border-left-style: solid;
    border-left-width: 1px;
    border-image-source: initial;
    border-image-slice: initial;
    border-image-width: initial;
    border-image-outset: initial;
    border-image-repeat: initial;
    background-color: #fff;
    box-shadow: 0 6px 15px rgba(36,37,38,.08);
}

/* *, ::after, ::before {
    box-sizing: inherit;
} */
h2 {
    display: block;
    font-size: 1.5em;
    -webkit-margin-before: 0.83em;
    -webkit-margin-after: 0.83em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    font-weight: bold;
}
a {
    color: black;
    font-size: 16px;
    background-color: transparent;
  }
.col-lg-12 {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
}
