<li *ngIf="recipe">
  <div class="row clickable recipe-row" (click)="goToRecipeDetail()">
    <div class="col-md-4 img-border div-container">
      <img width="90%" height="150px" src="{{ recipe.imagePath }}">
      <!-- <img width="200" src="/assets/images/spicy-rice-cake.png"> -->
    </div>
    <div class="col-md-4">
      <!-- <a routerLink="/recipe-detail/{{recipe.id}}"> -->
      <!-- <div (click)="goToRecipeDetail()"> -->
      <div class="recipe-text-margin col-margin">{{recipe.title}}</div>
      <!-- </div> -->
      <div class="col-margin">{{recipe.koreanTitle}}
        <span *ngIf="recipe.koreanTitlePron">{{"(" +recipe.koreanTitlePron + ")"}}</span>
      </div>
      <div class="col-margin">{{"Calories per serving: " + recipe.caloriesPerServing}}</div>
    </div>
    <div class="col-md-4">
      <div class="recipe-text-margin col-margin">{{recipe.category}}</div>
      <div class="col-margin">{{recipe.level}}</div>
    </div>
    <!-- <div class="col-md-6">
      <h4>Ingredients</h4>
      <ul>
        <li *ngFor="let ingredient of recipe.ingredients">{{ingredient}}</li>
      </ul>
    </div>
    <div class="col-md-6">
      <h4>Directions</h4>
      <ul>
        <li *ngFor="let direction of recipe.directions">{{direction}}</li>
      </ul>
    </div> -->

  </div>

  <!-- <div>id: {{recipe.id}}</div>
  <div>title: {{recipe.title}}</div>
  <div>category: {{recipe.category}}</div>
  <div>cookTime: {{recipe.cookTime}}</div>
  <div>directions: {{recipe.directions}}</div>
  <div>imagePath: {{recipe.imagePath}}</div>
  <div>ingredients: {{recipe.ingredients}}</div>
  <div>koreanTitle: {{recipe.koreanTitle}}</div>
  <div>prepTime: {{recipe.prepTime}}</div> -->
</li>
